@(bReader: java.io.BufferedReader, linha: String, saidas: List[String], saidas2: List[String], nomeArquivo: String)

<!DOCTYPE html>
<html lang="en">
<head>
    @* Here's where we render the page title `String`. *@
    <title>Problem Statement - Assembly Line - Haroldo</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
</head>
<body>
<h1>Output from file "@nomeArquivo"</h1><br>
<p>Linha de montagem 1:</p>
@for(saida <- saidas) {
@saida<br>
}
<br>
<p>Linha de montagem 2:</p>
@for(saida2 <- saidas2) {
@saida2<br>
}
</br>
<a href="@routes.HomeController.index()" type="button">Retornar</a>
</body>
</html>
